<%- layout('/layout/modal.ejs') -%>

<p>Ce module permet de piloter transmission avec SARAH</p>

<div class="alert alert-info" role="alert">
  <h4>Participants</h4>
  <p>sarakha63</p>
</div>
<h4>Que peut on faire et comment ça marche: Utilisation de transmission avec SARAH <span class="badge">New</span></h4>
	Tout d'abord, il faut absolument configurer votre addresse transmission ainsi que le port.
	<br />Adresse au format : XXX.XXX.XXX.XXX sans le http
	<br />Une fois cela fait :
	Vous pourrez dire : <br />Sarah met en pause les torrents
						<br />Sarah active les torrents
						<br />Sarah met en pause les torrents pour 30 minutes
						<br />Sarah supprime les torrents terminés
<div class="tab-pane active" id="plugin-version">
<h4>Version 1.0 : Init</h4>
<pre>
[X] Mise en pause pendant une durée
[X] Gestion de la pause
[X] Gestion de la reprise
</pre>

<h4>A venir</h4>
<pre>
Rajout de la demande de téléchargement en cours
Rajout de la demande de temps restant

......
</pre>
</div><!-- tab-content -->


